#title {
        color: teal;
        background-color: lightgrey;
}

#display {
        background-color: teal;
        color: white;
        width: auto;
        height: 100px;
        text-align: center;
        padding-top: 10px;
        font-size: 80px;
}

#button {
        margin-top: 100px;
}
